In [1]:
import pandas as pd
import numpy as np

In [2]:
seattle_file = "denver_calendar.csv"
df = pd.read_csv(seattle_file)
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [ ]:
df1 = df.drop(columns = ['available', 'minimum_nights', 'maximum_nights'])

In [4]:
df1_group = df1.set_index('listing_id')

In [5]:
df1_group['date'] = pd.to_datetime(df1_group['date'])

In [6]:
df1_group['YEAR'] = df1_group['date'].dt.year
df1_group['MONTH'] = df1_group['date'].dt.month
df1_group['WEEK'] = df1_group['date'].dt.week
df1_group = df1_group.reset_index()

In [7]:
df1_group.head()

   listing_id       date   price adjusted_price  YEAR  MONTH  WEEK
0      493591 2019-02-09  $53.00         $53.00  2019      2     6
1      493591 2019-02-10  $53.00         $53.00  2019      2     6
2      493591 2019-02-11  $53.00         $53.00  2019      2     7
3      493591 2019-02-12  $53.00         $53.00  2019      2     7
4      493591 2019-02-13  $53.00         $53.00  2019      2     7

In [8]:
df1_group['price'].astype(str)
df1_group['price'] = df1_group.price.str.replace('$', '')
df1_group['price'] = df1_group.price.str.replace(',', '')
df1_group['price'] = df1_group['price'].astype(float)

In [9]:
df1_group.dtypes

listing_id                 int64
date              datetime64[ns]
price                    float64
adjusted_price            object
YEAR                       int64
MONTH                      int64
WEEK                       int64
dtype: object

In [10]:
df_week = df1_group.groupby(['WEEK']).mean()

In [11]:
df_week

        listing_id       price         YEAR      MONTH
WEEK
1     1.753523e+07  161.340364  2019.714286   4.142857
2     1.753523e+07  155.747505  2020.000000   1.000000
3     1.753523e+07  157.227197  2020.000000   1.000000
4     1.753523e+07  152.092277  2020.000000   1.000000
5     1.753523e+07  155.730684  2020.000000   1.285714
6     1.753523e+07  154.621409  2019.750000   2.000000
7     1.753523e+07  125.616402  2019.000000   2.000000
8     1.753523e+07  124.519177  2019.000000   2.000000
9     1.753523e+07  126.881597  2019.000000   2.428571
10    1.753523e+07  131.480013  2019.000000   3.000000
11    1.753523e+07  139.581376  2019.000000   3.000000
12    1.753523e+07  135.873558  2019.000000   3.000000
13    1.753523e+07  138.168274  2019.000000   3.000000
14    1.753523e+07  139.550099  2019.000000   4.000000
15    1.753523e+07  140.977471  2019.000000   4.000000
16    1.753523e+07  143.102444  2019.000000   4.000000
17    1.753523e+07  141.824836  2019.000000   4.000000
18    1.753523e+07  147.444159  2019.000000   4.714286
19    1.753523e+07  153.351342  2019.000000   5.000000
20    1.753523e+07  154.742523  2019.000000   5.000000
21    1.753523e+07  159.172074  2019.000000   5.000000
22    1.753523e+07  156.563829  2019.000000   5.285714
23    1.753523e+07  164.491514  2019.000000   6.000000
24    1.753523e+07  169.383767  2019.000000   6.000000
25    1.753523e+07  168.895361  2019.000000   6.000000
26    1.753523e+07  170.372232  2019.000000   6.000000
27    1.753523e+07  177.859423  2019.000000   7.000000
28    1.753523e+07  178.789979  2019.000000   7.000000
29    1.753523e+07  180.377046  2019.000000   7.000000
30    1.753523e+07  181.192981  2019.000000   7.000000
31    1.753523e+07  182.063381  2019.000000   7.571429
32    1.753523e+07  181.212436  2019.000000   8.000000
33    1.753523e+07  179.863155  2019.000000   8.000000
34    1.753523e+07  181.832131  2019.000000   8.000000
35    1.753523e+07  185.203064  2019.000000   8.142857
36    1.753523e+07  171.155506  2019.000000   9.000000
37    1.753523e+07  169.482782  2019.000000   9.000000
38    1.753523e+07  168.123216  2019.000000   9.000000
39    1.753523e+07  167.026413  2019.000000   9.000000
40    1.753523e+07  162.955821  2019.000000   9.857143
41    1.753523e+07  160.837198  2019.000000  10.000000
42    1.753523e+07  159.512979  2019.000000  10.000000
43    1.753523e+07  158.792917  2019.000000  10.000000
44    1.753523e+07  156.745495  2019.000000  10.428571
45    1.753523e+07  157.346090  2019.000000  11.000000
46    1.753523e+07  155.724739  2019.000000  11.000000
47    1.753523e+07  154.818300  2019.000000  11.000000
48    1.753523e+07  155.066911  2019.000000  11.142857
49    1.753523e+07  152.792360  2019.000000  12.000000
50    1.753523e+07  152.579670  2019.000000  12.000000
51    1.753523e+07  157.925878  2019.000000  12.000000
52    1.753523e+07  170.899853  2019.000000  12.000000

In [12]:
df_week.reset_index
df_week.head()

        listing_id       price         YEAR     MONTH
WEEK
1     1.753523e+07  161.340364  2019.714286  4.142857
2     1.753523e+07  155.747505  2020.000000  1.000000
3     1.753523e+07  157.227197  2020.000000  1.000000
4     1.753523e+07  152.092277  2020.000000  1.000000
5     1.753523e+07  155.730684  2020.000000  1.285714

In [13]:
df_week = df_week.drop(columns = ['listing_id', 'MONTH', 'YEAR'])

In [14]:
df_week['City'] = 'Seattle'
df_week.head()

           price     City
WEEK
1     161.340364  Seattle
2     155.747505  Seattle
3     157.227197  Seattle
4     152.092277  Seattle
5     155.730684  Seattle

In [15]:
df_week.to_csv('seattle_clean.csv')